body {
  background-image: url(../img/paper-back.jpg);
}
img {
  width: 100%;
}
.home {
  margin: 30px;
  display: flex;
  justify-content: center;
}

hr { 
  background-color: white; height: 1px; border: 0; }

.link
{
  color: white;
}

