@{
  Layout = "_Layout";
}
<div class="col-md-8 offset-md-2">
  <div class="home">
    <img src="../img/hair-salon.jpg" alt="hair salon">
  </div>
  <p class="text-center">
    <a href="/Stylists"><button type="button" class="btn btn-dark"> View Stylists</button></a>
  </p>
  
</div>